/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}



/* 共通部分 */

.field_with_errors {
  display: contents;
}

.form__wrapper{
  display: flex;
  justify-content: center;
}

.error-message {
  font-weight: bold;
  color: red;
}

.field {
	position: relative;
  margin: 50px 20px;
}

.caution {
  text-align: center;
}

.ef {
	padding: 4px 0 4px 135px;
	border: 0;
	border-bottom: 1px solid #776ed2;
	background-color: transparent;
}

.ef ~ label {
	position: absolute;
  top: 4px;
  text-align: left;
  z-index: -1;
	left: 25px;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
  color: #aaaaaa;
}
.ef:focus ~ label,
.field.ef ~ label {
	font-size: 12px;
	top: -22px;
	transition: 0.3s;
	color: #776ed2;
}

.ef__exam {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #776ed2;
	background-color: transparent;
}

.ef__exam ~ label {
	position: absolute;
  top: 4px;
  text-align: center;
  z-index: -1;
	left: 25px;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
  color: #aaaaaa;
}
.ef__exam:focus ~ label,
.field.ef__exam ~ label {
	font-size: 12px;
	top: -22px;
	transition: 0.3s;
	color: #776ed2;
}

.ef__exam {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #776ed2;
	background-color: transparent;
}

.ef__exam ~ label {
	position: absolute;
  top: 4px;
  text-align: center;
  z-index: -1;
	left: 25px;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
  color: #aaaaaa;
}
.ef__exam:focus ~ label,
.field.ef__exam ~ label {
	font-size: 12px;
	top: -22px;
	transition: 0.3s;
	color: #776ed2;
}
.ef__exam {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #776ed2;
	background-color: transparent;
}

.ef__exam ~ label {
	position: absolute;
  top: 4px;
  text-align: center;
  z-index: -1;
	left: 25px;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
  color: #aaaaaa;
}
.ef__exam:focus ~ label,
.field.ef__exam ~ label {
	font-size: 12px;
	top: -22px;
	transition: 0.3s;
	color: #776ed2;
}

.ef__question {
	padding: 4px 0 4px 50px;
	border: 0;
	border-bottom: 1px solid #776ed2;
	background-color: transparent;
}

.ef__question ~ label {
	position: absolute;
  top: 4px;
  text-align: left;
  z-index: -1;
	left: 50px;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
  color: #aaaaaa;
}
.ef__question:focus ~ label,
.field.ef__exam ~ label {
	font-size: 12px;
	top: -22px;
	transition: 0.3s;
	color: #776ed2;
}




/* ヘッダー */

.header {
  background-color: white;
  margin-bottom: 48px;
  padding: 10px 0;
  border-bottom: 1px #cccccc solid;
}
.inner {
  width: 100vw;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 330px;
  margin-left: 20px;
}
.nav__right__top {
  display: flex;
  justify-content: space-between;
}
.nav__right__bottom {
  display: flex;
  margin-top: 20px;
}
.icon {
  height: 30px;
  margin: auto;
}
.icon__sign {
  height: 25px;
  margin: auto;
}
.nav__link {
  margin-right: 30px;
}
.nav__link:hover{
  opacity: 0.5;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #776ed2;
  text-decoration: none;
  user-select: none;
  border: 1px #776ed2 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 5px 10px 0 0;
}
.nav__btn:hover{
  color: white;
  background: #776ed2;
}
.nav__btn__wh {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  user-select: none;
  border: 1px white solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 5px 10px 0 0;
}
.nav__btn__wh:hover{
  color: #776ed2;
  background: white;
}
.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #776ed2;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}






/* メイン */

.main__home {
  text-align: center;
}
.main__image {
  width: 1024px;
}
.heading {
  color: #776ed2;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}
.information__main {
  text-align: center;
  font-weight: bold;
}

.fadeIn {
  transform: translate3d(0, -10px, 0);
  transition: 2s;
  opacity: 0;
}

.fadeIn.animated {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.service {
  text-align: center;
}
.service__image {
  width: 1024px;
}
.service__info {
  display: flex;
  justify-content: center;
}
.service__info__image {
  width: 512px;
}

.exam__index {
}

.exam__index__link {
}

.exam__btn{
  display: inline-block;
  padding: 0.7em 1.9em;
  font-size: 1.5em;
  color: #776ed2;
  text-decoration: none;
  user-select: none;
  border: 1px #776ed2 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 10px;
  width: 700px;
}
.exam__btn:hover{
  color: white;
  background: #776ed2;
}





/* 試験 */
.exam__message {
  text-align: left;
  padding: 0.8em 6em;
  font-size: 1.2em;
  border: #776ed2 1px solid;
  border-radius: 3px;
  margin: 0 200px;
  font-weight: bold;
  white-space: pre-wrap;
}

.question__lists {
  text-align: center;
  margin: 350px 0px 20px;
}

.question__list {
  text-align: left;
  padding: 0.4em 6em;
  font-size: 1.6em;
  background-color: #776ed2;
  color: white;
  text-decoration: none;
  user-select: none;
  border: 3px white double;
  border-radius: 3px;
  margin: 20px;
}

.question__number__left {
  width: calc(100vw - 95vw);
}

.question__number {
  padding: 0.2em 0.4em;
  font-size: 0.6em;
  font-weight: bold;
  background-color: white;
  color: #776ed2;
  border-radius: 3px;
  margin: 2px;
}

.question__allocation {
  padding: 0.2em 0.4em;
  font-size: 0.5em;
  font-weight: bold;
  background-color: white;
  color: #776ed2;
  border-radius: 3px;
  margin: 0.2em 0.4em;
}

.allocation__right {
  text-align: right;
}

.image__size {
  height: 35vh;
}
.image__preview {
  width: 350px;
  margin: 0 auto;
}
.question_image {
}
.image__size__small {
  height: 5vh;
}


.choice__lists {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: 2em auto;
}
.choice__lists input[type='checkbox'] {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.choice__lists label {
	position: relative;
	display: inline-block;
	margin-right: 30px;
  padding: 10px 10px 10px 60px;
  cursor: pointer;
}
.choice__lists label::before {
	position: absolute;
	z-index: -1;
	top: 12px;
	left: 0;
	display: block;
	width: 30px;
	height: 30px;
	content: '';
	border: 2px solid #776ed2;
}
.choice__lists input[type='checkbox'] + label::before {
	border-radius: 3px;
}
.choice__lists input[type='checkbox']:checked + label {
	padding-left: 10px;
	color: #ffffff;
}
.choice__lists input[type='checkbox']:checked + label::before {
	top: 0;
	width: 100%;
	height: 100%;
  background: #776ed2;
  border: 2px white solid;
}
/* Transition */
.choice__lists label, .cp_ipcheck label::before {
	-webkit-transition: 0.3s all ease;
	        transition: 0.3s all ease;
}

.side__width {
  width: calc(100% - 15vw);
}

.choice__list {
  display: grid;
  padding: 0.8em 6em;
  font-size: 1.6em;
  color: #776ed2;
  border: 1px #776ed2 solid;
  border-radius: 3px;
  text-align: left;
}

.choice__list__new {
  display: grid;
  padding: 0.8em 6em;
  font-size: 1.6em;
  color: #776ed2;
  text-align: left;
}

.exam__question {
  padding: 0.4em 1.6em;
  margin: 10px 0 5px;
  width: 90vw;
}

.btn__contents {
  margin-top: 20px;

}






/* フォーム周り */
.image__header {
  text-align: center;
}

.image__header__image {
  width: 600px;
  margin: 10px 0;
}

.page__heading {
  text-align: center;
}

.actions{
  text-align: center;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  user-select: none;
  background: #776ed2;
  border: 1px #776ed2 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.indispensable {
  /* position: absolute; */
  display: inline;
  background-color: #776ed2;
  color: white;
  font-size: 6px;
  border-radius: 3px;
  padding: 1px;
  bottom: 13px;
  right: 7px;
}
.indispensable__new {
  background-color: #776ed2;
  color: white;
  font-size: 6px;
  border-radius: 3px;
  padding: 1px;
}
.indispensable__exam {
  /* position: absolute; */
  background-color: #776ed2;
  color: white;
  font-size: 6px;
  border-radius: 3px;
  padding: 1px;
  bottom: 347px;
  right: 7px;
}

.indispensable__open {
  display: inline;
  color: #776ed2;
  font-size: 1em;
  border-radius: 3px;
  padding: 2px;
  margin-right: 20px;
}

.choice__text {
  transition: 0.5s;
  border: 2px solid #aaa;
  border-radius: 3px;
}

.question__image {
  /* position: relative; */
}

input[type="file"] {
  font-size: 0.1em;
  color: #776ed2;
}

/* フッター */

.footer__sub {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nav__link__mini {
  color: #776ed2;
  margin: 10px;
  display: inline-block;
  font-size: 0.8em;
  color: #776ed2;
  text-decoration: none;
  user-select: none;
}
.nav__link__mini:hover{
  opacity: 0.5;
}

.footer {
  background-color: #776ed2;
  padding: 10px 0;
  text-align: center;
}

.logo__white {
  width: 200px;
}
.copyright {
  text-align: center;
  color: white;
  font-size: 10px;
}


/* 完了ページ */
.finish {
  width: 80vw;
}

/* リザルトページ */
.score__integer {
  color: #A2553C;
  font-size: 2em;
  font-weight: bold;
}
.allocation__integer {
  color: #776ed2;
  font-size: 2em;
  font-weight: bold;
}
.score__allocation {
  font-family: ヒラギノ丸ゴ Pro;
  display: inline;
  color: #776ed2;
  font-size: 2.5em;
  font-weight: bold;
  padding: 5px;
  border-bottom: #A2553C 6px double;
}

.answer__text {
  padding: 0.2em 1.6em;
  font-size: 0.7em;
  color: white;
  background-color: #A2553C;
  border: 4px white double;
  border-radius: 3px;
  text-align: center;
}

.answer__list {
  display: inline-block;
  padding: 0.8em 6em;
  font-size: 1.6em;
  font-weight: bold;
  color: #A2553C;
  border: 4px #776ed2 double;
  border-radius: 3px;
  text-align: center;
}

.answer__true {
  font-family: alba;
  padding : 0.1em 0.5em ;
  font-size: 6em;
  font-weight: bold;
  color: #A2553C;
  border: 13px #A2553C solid;
  border-radius: 3px;
  text-align: center;
  border-top : 3px #A2553C solid;
  border-bottom : 3px #A2553C solid;
  box-shadow : 0 2px 6px #aaaaaa ;
}

.answer__false {
  font-family: alba;
  padding : 0.1em 0.5em ;
  font-size: 6em;
  font-weight: bold;
  color: #776ed2;
  border: 13px #776ed2 solid;
  border-radius: 3px;
  text-align: center;
  border-top : 3px #776ed2 solid;
  border-bottom : 3px #776ed2 solid;
  box-shadow : 0 2px 6px #aaaaaa;
}


/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin: 32px 20px;
  width: 90vw;
}
.table__col1{
  text-align: center;
  font-weight: bold;
  background: #eeeeee;
  border-collapse: collapse;
  border: 1px solid #776ed2;
  width: 3%;
  padding: 8px;
}
.table__col2{
  text-align: center;
  font-size: 12px;
  background: #eeeeee;
  border-collapse: collapse;
  border: 1px solid #776ed2;
  width: 13%;
  padding: 8px;
}
.table__col3{
  text-align: left;
  border: 1px solid #776ed2;
  border-collapse: collapse;
  padding: 16px 8px;
}
.table__col4{
  text-align: left;
  border: 1px solid #776ed2;
  border-collapse: collapse;
  width: 27%;
  padding: 16px 8px;
}
.table__col5{
  text-align: center;
  border: 1px solid #776ed2;
  border-collapse: collapse;
  width: 7%;
  padding: 16px 8px;
}
.table__col6{
  text-align: center;
  border: 1px solid #776ed2;
  border-collapse: collapse;
  width: 8%;
  padding: 16px 8px;
}
.table__col7{
  text-align: center;
  border: 1px solid #776ed2;
  border-collapse: collapse;
  width: 4%;
  padding: 16px 8px;
}

.user__heading {
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
  display: inline-block;
  padding: 0.4em 1.6em;
  color: #776ed2;
  background-color: #eeeeee;
  text-decoration: none;
  user-select: none;
  border: 5px #776ed2 double;
  border-radius: 3px;
  transition: 0.4s ease;
}


/* タブレット対応 */
@media (max-width: 1024px) {
  .logo {
    width: 230px;
  }
  .nav__link {
    font-size: 11px;
  }
  .nav__btn{
    height: auto;
    font-size: 11px;
  }
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .exam__message {
    font-size: 0.8em;
    margin: 0 10px;
  }
  
  .question__lists {
    font-size: 0.8em;
    margin: 100px 0 10px;
  }
  
  .choice__list {
    font-size: 1.5em;
  }
  .exam__btn{
  font-size: 1.2em;
  margin: 5px;
  width: 500px;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .indispensable__open {
    font-size: 0.8em;
  }
  .logo {
    width: 120px;
  }
  .icon {
    height: 20px;
  }
  .heading {
    font-size: 15px;
  }
  .nav__link {
    font-size: 11px;
  }
  .nav__btn {
    height: auto;
    font-size: 0.1em;
  }
  .nav__logout {
    width: auto;
    font-size: 0.1em;
  }
  .ef__exam {
    width: 90vw;
  }

  .form__btn {
    width: auto;
    font-size: 0.1em;
  }

  .caution {
    font-size: 11px;
  }

  .page-heading {
    font-size: 20px;
  }

  .exam__message {
    font-size: 0.6em;
    margin: 0 5px;
  }
  
  .question__lists {
    font-size: 0.5em;
    margin: 100px 0 5px;
  }
  .question__number__left {
    width: 100vw;
  }
  
  .choice__list {
    font-size: 0.7em;
  }
  .choice__list__new {
    font-size: 0.7em;
  }
  .side__width {
    width: 90vw;
  }

  .choice__lists label::before {
    width: 10px;
    height: 10px;
    content: '';
    border: 1px solid #776ed2;
  }
  .exam__btn{
  font-size: 0.8em;
  margin: 3px;
  width: 400px;
  }
  
  .table{
    border-collapse: collapse;
    margin: 3px 2px;
    width: 90vw;
  }

  .table__col1{
    font-size: 0.1em;
  }
  .table__col2{
    font-size: 0.1em;
  }
  .table__col3{
    font-size: 0.1em;
  }
  .table__col4{
    font-size: 0.1em;
  }
  .table__col5{
    font-size: 0.1em;
  }
  .table__col6{
    font-size: 0.1em;
  }
  .table__col7{
    font-size: 0.1em;
  }
}